#mediaquery-checker {
	width: 30px;
}
.hidden-on-mobile {
	display: block;
}
.only-on-tablet {
	display: block;
}
.hidden-on-tablet {
	display: none;
}
.only-on-mobile {
	display: none;
}
.column {
	width: 6.08%;
}
.one-column {
	width: 6.08%;
}
.two-columns {
	width: 14.41%;
}
.three-columns {
	width: 22.75%;
}
.four-columns {
	width: 31.08%;
}
.five-columns {
	width: 39.41%;
}
.six-columns {
	width: 47.75%;
}
.seven-columns {
	width: 56.08%;
}
.eight-columns {
	width: 64.41%;
}
.nine-columns {
	width: 72.72%;
}
.ten-columns {
	width: 81.08%;
}
.eleven-columns {
	width: 89.41%;
}
.twelve-columns {
	width: 97.75%;
}
.one-column-tablet {
	width: 6.08%;
}
.two-columns-tablet {
	width: 14.41%;
}
.three-columns-tablet {
	width: 22.75%;
}
.four-columns-tablet {
	width: 31.08%;
}
.five-columns-tablet {
	width: 39.41%;
}
.six-columns-tablet {
	width: 47.75%;
}
.seven-columns-tablet {
	width: 56.08%;
}
.eight-columns-tablet {
	width: 64.41%;
}
.nine-columns-tablet {
	width: 72.72%;
}
.ten-columns-tablet {
	width: 81.08%;
}
.eleven-columns-tablet {
	width: 89.41%;
}
.twelve-columns-tablet {
	width: 97.75%;
}
.new-row-mobile {
	clear: none;
}
.new-row-mobile-landscape {
	clear: none;
}
.new-row-tablet {
	clear: left;
}
.left-column-200px .left-column {
	width: 200px; margin-bottom: 0px; float: left;
}
.left-column-200px .right-column {
	margin-left: 220px;
}
.right-column-200px .left-column {
	margin-right: 220px;
}
.right-column-200px .right-column {
	width: 200px; margin-bottom: 0px; float: right;
}
.content-panel {
	overflow: visible; padding-left: 250px;
}
.panel-navigation {
	left: 0px; top: 0px; width: 249px; bottom: 0px; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid; position: absolute;
}
.enabled-panels > .panel-navigation {
	left: 0px; right: auto;
}
.show-panel-content.enabled-panels > .panel-navigation {
	left: 0px; right: auto;
}
.enabled-panels > .panel-content {
	margin-left: 0px;
}
.show-panel-content.enabled-panels > .panel-content {
	margin-left: 0px;
}
.panel-content > .back {
	display: none;
}
h1 {
	line-height: 48px; font-size: 40px;
}
h2 {
	line-height: 38px; font-size: 32px;
}
.inline.definition {
	padding-left: 200px;
}
.inline.definition > dt {
	width: 180px; margin-bottom: 0px; margin-left: -200px; float: left;
}
.inline.definition > dd {
	margin-bottom: 12px;
}
.inline.definition > dd:last-child {
	margin-bottom: 0px;
}
#title-bar {
	left: 0px; top: 0px; right: 0px; position: fixed;
}
.with-shortcuts #title-bar {
	padding-left: 10px;
}
.with-shortcuts.reversed #title-bar {
	padding-right: 10px;
}
.with-menu.with-shortcuts.reversed #title-bar {
	padding-right: 10px; padding-left: 92px;
}
#title-bar ~ #main {
	margin-top: 60px;
}
#title-bar ~ #shortcuts {
	top: 60px;
}
#open-shortcuts {
	display: none;
}
#open-menu {
	position: fixed;
}
.with-shortcuts #main {
	margin-left: 68px;
}
.reversed.with-shortcuts #main {
	margin-right: 68px; margin-left: 0px;
}
#shortcuts {
	background: -ms-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url("/StyleFiles/img/textures/grid.png") rgb(60, 64, 68); margin: 0px; padding: 0px; border-radius: 0px; border: 0px currentColor; border-image: none; left: 0px; top: 0px; width: 68px; bottom: 0px; color: white; display: block; position: fixed; z-index: 1; box-shadow: inset -5px 5px 20px rgba(0,0,0,0.75); -moz-box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.75); -webkit-box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.75); -webkit-border-radius: 0; -moz-border-radius: 0; -webkit-background-size: auto; -moz-background-size: auto; -o-background-size: auto;
}
body.reversed #shortcuts {
	left: auto; right: 0px; box-shadow: inset 5px 5px 20px rgba(0,0,0,0.75); -moz-box-shadow: inset 5px 5px 20px rgba(0, 0, 0, 0.75); -webkit-box-shadow: inset 5px 5px 20px rgba(0, 0, 0, 0.75);
}
#shortcuts::before {
	display: none;
}
#shortcuts > li {
	margin: 0px; width: 68px; height: auto; overflow: hidden; float: none; position: relative;
}
.with-legend#shortcuts > li {
	padding-bottom: 20px;
}
#shortcuts > li:first-child {
	margin-top: -5px;
}
.no-generatedcontent #shortcuts > li:first-child {
	margin-top: 0px;
}
#shortcuts > li > a {
	padding: 0px; width: auto; height: 70px; text-indent: -3000px;
}
#shortcuts > li > span {
	padding: 0px; width: auto; height: 70px; text-indent: -3000px;
}
#shortcuts > li > a {
	transition:margin-left 200ms; width: 136px; position: relative; -webkit-transition: margin-left 200ms; -moz-transition: margin-left 200ms; -o-transition: margin-left 200ms;
}
body.reversed #shortcuts > li > a {
	margin-left: -68px;
}
.no-generatedcontent body.reversed #shortcuts > li > a {
	width: 204px; margin-right: -68px; margin-left: -68px;
}
.shortcut-dashboard {
	background-position: 0px 0px;
}
span.shortcut-dashboard {
	background-position: 0px 0px;
}
.shortcut-messages {
	background-position: 0px -70px;
}
span.shortcut-messages {
	background-position: 0px -70px;
}
.shortcut-agenda {
	background-position: 0px -140px;
}
span.shortcut-agenda {
	background-position: 0px -140px;
}
.shortcut-contacts {
	background-position: 0px -210px;
}
span.shortcut-contacts {
	background-position: 0px -210px;
}
.shortcut-medias {
	background-position: 0px -280px;
}
span.shortcut-medias {
	background-position: 0px -280px;
}
.shortcut-stats {
	background-position: 0px -350px;
}
span.shortcut-stats {
	background-position: 0px -350px;
}
.shortcut-settings {
	background-position: 0px -420px;
}
span.shortcut-settings {
	background-position: 0px -420px;
}
.shortcut-notes {
	background-position: 0px -490px;
}
span.shortcut-notes {
	background-position: 0px -490px;
}
body.reversed a.shortcut-dashboard {
	background-position: 68px 0px;
}
body.reversed a.shortcut-messages {
	background-position: 68px -70px;
}
body.reversed a.shortcut-agenda {
	background-position: 68px -140px;
}
body.reversed a.shortcut-contacts {
	background-position: 68px -210px;
}
body.reversed a.shortcut-medias {
	background-position: 68px -280px;
}
body.reversed a.shortcut-stats {
	background-position: 68px -350px;
}
body.reversed a.shortcut-settings {
	background-position: 68px -420px;
}
body.reversed a.shortcut-notes {
	background-position: 68px -490px;
}
#shortcuts > li > a::before {
	top: 5px; bottom: 5px; display: block; position: absolute; content: " ";
}
#shortcuts > li::after {
	top: 5px; bottom: 5px; display: block; position: absolute; content: " ";
}
#shortcuts > li > a::before {
	border-radius: 7px 0px 0px 7px; width: 64px; right: 0px; background-image: url("/StyleFiles/img/standard/shortcuts.png"); background-color: white; -webkit-border-radius: 7px 0 0 7px; -moz-border-radius: 7px 0 0 7px;
}
body.reversed #shortcuts > li > a::before {
	border-radius: 0px 7px 7px 0px; left: 0px; right: auto; -webkit-border-radius: 0 7px 7px 0; -moz-border-radius: 0 7px 7px 0;
}
a.shortcut-dashboard::before {
	background-position: -70px -5px;
}
a.shortcut-messages::before {
	background-position: -70px -75px;
}
a.shortcut-agenda::before {
	background-position: -70px -145px;
}
a.shortcut-contacts::before {
	background-position: -70px -215px;
}
a.shortcut-medias::before {
	background-position: -70px -285px;
}
a.shortcut-stats::before {
	background-position: -70px -355px;
}
a.shortcut-settings::before {
	background-position: -70px -425px;
}
a.shortcut-notes::before {
	background-position: -70px -495px;
}
#shortcuts > li::after {
	background: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.3) 75%, rgba(0, 0, 0, 0.5) 90%, rgba(0, 0, 0, 0.75)); transition:opacity 200ms; width: 6px; right: 0px; opacity: 0; pointer-events: none; -webkit-transition: opacity 200ms; -moz-transition: opacity 200ms; -o-transition: opacity 200ms; -webkit-background-size: 100% 100%; -moz-background-size: 100% 100%; -o-background-size: 100% 100%; -webkit-transition-delay: 200ms; -moz-transition-delay: 200ms; -o-transition-delay: 200ms;
}
body.reversed #shortcuts > li::after {
	background: -ms-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.3) 75%, rgba(0, 0, 0, 0.5) 90%, rgba(0, 0, 0, 0.75)); left: 0px; right: auto; -webkit-background-size: 100% 100%; -moz-background-size: 100% 100%; -o-background-size: 100% 100%;
}
#shortcuts > li.current::after {
	display: none;
}
.no-touch #shortcuts > li:hover::after {
	transition:none; opacity: 1; -webkit-transition: none; -moz-transition: none; -o-transition: none;
}
.shortcut-legend {
	transition:left 200ms, color 200ms; left: 0px; width: 68px; text-align: center; bottom: 6px; color: rgb(153, 153, 153); text-indent: 0px; font-size: 11px; white-space: nowrap; position: absolute; -ms-text-overflow: ellipsis; -webkit-transition: left 200ms, color 200ms; -moz-transition: left 200ms, color 200ms; -o-transition: left 200ms, color 200ms;
}
.no-generatedcontent .shortcut-legend {
	bottom: 10px;
}
a > .shortcut-legend {
	bottom: -14px;
}
.no-generatedcontent a > .shortcut-legend {
	bottom: -10px;
}
li:hover > a > .shortcut-legend {
	color: white;
}
body.reversed .shortcut-legend {
	transition:right 200ms, color 200ms; left: auto; right: 0px; -webkit-transition: right 200ms, color 200ms; -moz-transition: right 200ms, color 200ms; -o-transition: right 200ms, color 200ms;
}
.no-generatedcontent body.reversed a > .shortcut-legend {
	right: 68px;
}
.no-touch #shortcuts > li > a:hover {
	margin-left: -68px;
}
#shortcuts > .current > a {
	margin-left: -68px;
}
.no-touch #shortcuts:hover > .current:hover > a {
	margin-left: -68px;
}
.no-touch a:hover > .shortcut-legend {
	left: 68px;
}
#shortcuts > .current > a > .shortcut-legend {
	left: 68px;
}
.no-touch #shortcuts:hover > .current:hover > a > .shortcut-legend {
	left: 68px;
}
.no-generatedcontent #shortcuts > .current > a {
	background-color: white;
}
.no-generatedcontent #shortcuts > .current > a > .shortcut-legend {
	bottom: -18px;
}
.no-touch body.reversed #shortcuts > li > a:hover {
	margin-right: -68px; margin-left: 0px;
}
body.reversed #shortcuts > .current > a {
	margin-right: -68px; margin-left: 0px;
}
.no-touch body.reversed #shortcuts:hover > .current:hover > a {
	margin-right: -68px; margin-left: 0px;
}
.no-touch body.reversed a:hover > .shortcut-legend {
	left: auto; right: 68px;
}
body.reversed #shortcuts > .current > a > .shortcut-legend {
	left: auto; right: 68px;
}
.no-touch body.reversed #shortcuts:hover > .current:hover > a > .shortcut-legend {
	left: auto; right: 68px;
}
.no-generatedcontent body.reversed #shortcuts > .current > a {
	margin-right: 0px; margin-left: -136px;
}
.no-generatedcontent body.reversed #shortcuts > li > a:hover {
	margin-right: 0px; margin-left: -136px;
}
.no-generatedcontent.no-touch body.reversed a:hover > .shortcut-legend {
	right: 0px;
}
.no-generatedcontent body.reversed #shortcuts > .current > a > .shortcut-legend {
	right: 0px;
}
.no-generatedcontent.no-touch body.reversed #shortcuts:hover > .current:hover > a > .shortcut-legend {
	right: 0px;
}
.no-touch #shortcuts:hover > .current > a {
	margin-left: -60px;
}
.no-touch #shortcuts:hover > .current > a > .shortcut-legend {
	left: 60px;
}
.no-generatedcontent.no-touch #shortcuts:hover > .current > a {
	margin-left: -68px;
}
.no-generatedcontent.no-touch #shortcuts:hover > .current > a > .shortcut-legend {
	left: 68px;
}
.no-touch body.reversed #shortcuts:hover > .current > a {
	margin-right: -60px; margin-left: -8px;
}
.no-touch body.reversed #shortcuts:hover > .current > a > .shortcut-legend {
	left: auto; right: 60px;
}
.no-generatedcontent.no-touch body.reversed #shortcuts:hover > .current > a {
	margin-right: 0px; margin-left: -136px;
}
.no-generatedcontent.no-touch body.reversed #shortcuts:hover > .current > a > .shortcut-legend {
	right: 0px;
}
#shortcuts > .at-bottom {
	left: 0px; bottom: 0px; position: absolute;
}
#shortcuts .count {
	right: 74px; text-indent: 0px;
}
#shortcuts .current .count {
	right: 4px;
}
body.reversed #shortcuts .count {
	left: 74px; right: auto;
}
body.reversed #shortcuts .current .count {
	left: 4px;
}
.no-generatedcontent body.reversed #shortcuts .current .count {
	left: 142px;
}
#menu {
	background: rgb(87, 93, 98); padding: 11px 10px 10px; border-radius: 6px; border: 1px solid rgb(38, 38, 38); border-image: none; left: auto; top: 61px; width: 260px; right: 19px; display: none; position: fixed; max-height: 90%; box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5), 0px 1px 7px rgba(0,0,0,0.8); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 7px rgba(0, 0, 0, 0.8); -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 7px rgba(0, 0, 0, 0.8); -webkit-border-radius: 6px; -moz-border-radius: 6px;
}
.no-boxshadow #menu {
	width: 262px;
}
body.menu-open #menu {
	display: block;
}
body.reversed #menu {
	left: 19px; right: auto;
}
#menu::before {
	background: none; border-width: 6px; border-style: solid; border-color: transparent transparent rgb(87, 93, 98); border-image: none; left: auto; top: auto; width: 0px; height: 0px; right: 18px; bottom: 100%; margin-bottom: -1px; display: block; position: absolute; content: " ";
}
#menu::after {
	background: none; border-width: 6px; border-style: solid; border-color: transparent transparent rgb(87, 93, 98); border-image: none; left: auto; top: auto; width: 0px; height: 0px; right: 18px; bottom: 100%; margin-bottom: -1px; display: block; position: absolute; content: " ";
}
#menu-before {
	background: none; border-width: 6px; border-style: solid; border-color: transparent transparent rgb(87, 93, 98); border-image: none; left: auto; top: auto; width: 0px; height: 0px; right: 18px; bottom: 100%; margin-bottom: -1px; display: block; position: absolute;
}
#menu-after {
	background: none; border-width: 6px; border-style: solid; border-color: transparent transparent rgb(87, 93, 98); border-image: none; left: auto; top: auto; width: 0px; height: 0px; right: 18px; bottom: 100%; margin-bottom: -1px; display: block; position: absolute;
}
#menu::before {
	border-width: 7px; right: 17px; margin-bottom: 0px; border-bottom-color: rgb(138, 142, 145);
}
#menu-before {
	border-width: 7px; right: 17px; margin-bottom: 0px; border-bottom-color: rgb(138, 142, 145);
}
body.reversed #menu::before {
	left: 17px; right: auto;
}
body.reversed #menu-before {
	left: 17px; right: auto;
}
body.reversed #menu::after {
	left: 18px; right: auto;
}
body.reversed #menu-after {
	left: 18px; right: auto;
}
#menu-content {
	border-radius: 2px; position: relative; box-shadow: 0px 1px 0px rgba(255,255,255,0.5), 0px -1px 1px rgba(0,0,0,0.8); -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 -1px 1px rgba(0, 0, 0, 0.8); -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 -1px 1px rgba(0, 0, 0, 0.8); -webkit-border-radius: 2px; -moz-border-radius: 2px;
}
.no-boxshadow #menu-content {
	border: 1px solid rgb(44, 48, 51); border-image: none;
}
#menu-content::after {
	display: none;
}
.pointerevents #menu-content::after {
	left: 0px; top: 0px; right: 0px; bottom: 0px; display: block; position: absolute; content: " "; pointer-events: none; box-shadow: inset 0px 1px 3px rgba(0,0,0,0.75); -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.75); -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.75);
}
#menu-footer {
	background: none; padding: 0px; margin-top: 10px; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
}
#main-title {
	background: none;
}
#main-title h1 {
	text-shadow: 0px 1px 5px rgba(0,0,0,0.25); -webkit-text-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); -moz-text-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
#main-title h2 {
	text-shadow: 0px 1px 5px rgba(0,0,0,0.25); -webkit-text-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); -moz-text-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
#main-title h2 {
	line-height: 48px; font-size: 28px;
}
#main-title h2 strong {
	font-size: 40px; vertical-align: -4px;
}
.dashboard {
	border: 1px solid rgb(102, 102, 102); border-image: none;
}
.standard-tabs {
	border-radius: 0px; border: 0px currentColor; border-image: none; height: auto !important; overflow: visible; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.side-tabs {
	border-radius: 0px; border: 0px currentColor; border-image: none; height: auto !important; overflow: visible; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.standard-tabs > .tabs {
	background: none; border-radius: 0px; left: 0px; top: 0px; overflow: hidden; position: absolute; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.side-tabs > .tabs {
	background: none; border-radius: 0px; left: 0px; top: 0px; overflow: hidden; position: absolute; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.csstransforms .standard-tabs > .tabs {
	transform: none; -webkit-transform: none; -moz-transform: none; -o-transform: none;
}
.csstransforms .side-tabs > .tabs {
	transform: none; -webkit-transform: none; -moz-transform: none; -o-transform: none;
}
.standard-tabs {
	padding-top: 29px;
}
.standard-tabs > .tabs {
	margin: -5px -5px 0px; padding: 5px 5px 0px; width: auto; height: 30px; right: 0px;
}
.standard-tabs > .tabs > li {
	padding: 5px 12px 9px; border-top-color: currentColor; border-left-color: rgb(204, 204, 204); border-top-width: 0px; border-left-width: 1px; border-top-style: none; border-left-style: solid; float: left;
}
.standard-tabs > .tabs > li:first-child {
	border-left-color: transparent;
}
.standard-tabs > .tabs > li > a {
	margin: -5px -12px -9px; padding: 5px 12px 9px;
}
.standard-tabs > .tabs > li > a::after {
	display: none; content: "";
}
.standard-tabs > .tabs > li > a > .with-arrow-after {
	display: none;
}
.no-touch .standard-tabs > .tabs > li > a:hover {
	padding-bottom: 6px; border-bottom-color: rgb(153, 153, 153); border-bottom-width: 3px; border-bottom-style: solid;
}
.no-touch .standard-tabs > .tabs > li.disabled > a:hover {
	color: rgb(192, 192, 192); padding-bottom: 9px; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
.standard-tabs > .tabs > li.active {
	border-left-color: transparent;
}
.standard-tabs > .tabs > li.active + li {
	border-left-color: transparent;
}
.ie7 .standard-tabs > .tabs > li.active {
	border-left-color: rgb(204, 204, 204);
}
.ie7 .standard-tabs > .tabs > li.active + li {
	border-left-color: rgb(204, 204, 204);
}
.ie7 .standard-tabs > .tabs > li.last-child.active {
	border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid;
}
.standard-tabs > .tabs > li.active > a {
	background: white; border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(204, 204, 204) rgb(204, 204, 204) currentColor; padding: 6px 12px 7px; border-radius: 5px 5px 0px 0px; border-image: none; color: rgb(0, 89, 160); margin-right: -13px; margin-left: -13px; box-shadow: 0px 1px 4px rgba(0,0,0,0.25); -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25); -moz-border-radius: 5px 5px 0 0; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px;
}
.no-touch .standard-tabs > .tabs > li.active > a:hover {
	padding-bottom: 7px; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
.at-bottom.standard-tabs {
	padding-top: 0px; padding-bottom: 29px;
}
.at-bottom.standard-tabs > .tabs {
	margin: 0px -5px -5px; padding: 0px 5px 5px; top: auto; bottom: 0px;
}
.at-bottom.standard-tabs > .tabs > li {
	padding: 9px 12px 5px;
}
.at-bottom.standard-tabs > .tabs > li > a {
	margin: -9px -12px -5px; padding: 9px 12px 5px;
}
.no-touch .at-bottom.standard-tabs > .tabs > li > a:hover {
	padding-top: 6px; padding-bottom: 5px; border-top-color: rgb(153, 153, 153); border-bottom-color: currentColor; border-top-width: 3px; border-bottom-width: 0px; border-top-style: solid; border-bottom-style: none;
}
.no-touch .at-bottom.standard-tabs > .tabs > li.disabled > a:hover {
	padding-top: 9px; border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
.at-bottom.standard-tabs > .tabs > li.active > a {
	padding: 7px 12px 6px; border-radius: 0px 0px 5px 5px; margin-right: -13px; margin-left: -13px; border-top-color: currentColor; border-bottom-color: rgb(204, 204, 204); border-top-width: 0px; border-bottom-width: 1px; border-top-style: none; border-bottom-style: solid; box-shadow: 0px -1px 4px rgba(0,0,0,0.25); -moz-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.25); -moz-border-radius: 0 0 5px 5px; -webkit-border-top-left-radius: 0; -webkit-border-top-right-radius: 0; -webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px;
}
.no-touch .at-bottom.standard-tabs > .tabs > li.active > a:hover {
	padding-top: 7px; padding-bottom: 6px; border-top-color: currentColor; border-bottom-color: rgb(204, 204, 204); border-top-width: 0px; border-bottom-width: 1px; border-top-style: none; border-bottom-style: solid;
}
.at-bottom.standard-tabs > .tabs-content {
	border-radius: 6px 6px 6px 0px; -moz-border-radius: 6px 6px 6px 0; -webkit-border-top-left-radius: 6px; -webkit-border-bottom-left-radius: 6px;
}
.side-tabs {
	padding-left: 179px;
}
.side-tabs > .tabs {
	margin: -5px 0px -5px -5px; padding: 5px 0px 5px 5px; width: 180px;
}
.side-tabs > .tabs > li {
	padding: 11px 9px 11px 11px; border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid;
}
.side-tabs > .tabs > li:first-child {
	border-top-color: transparent;
}
.side-tabs > .tabs > li > a {
	margin: -11px -9px -11px -11px; padding: 11px 9px 11px 11px;
}
.side-tabs > .tabs > li > a::after {
	display: none;
}
.side-tabs > .tabs > li > a > .with-arrow-after {
	display: none;
}
.no-touch .side-tabs > .tabs > li > a:hover {
	padding-right: 6px; border-right-color: rgb(153, 153, 153); border-right-width: 3px; border-right-style: solid;
}
.no-touch .side-tabs > .tabs > li.disabled > a:hover {
	color: rgb(192, 192, 192); padding-right: 9px; border-right-color: currentColor; border-right-width: 0px; border-right-style: none;
}
.side-tabs > .tabs > li.active {
	border-top-color: transparent;
}
.side-tabs > .tabs > li.active + li {
	border-top-color: transparent;
}
.side-tabs > .tabs > li.active > a {
	background: white; border-width: 1px 0px 1px 1px; border-style: solid none solid solid; border-color: rgb(204, 204, 204) currentColor rgb(204, 204, 204) rgb(204, 204, 204); padding: 11px 9px 11px 10px; border-radius: 5px 0px 0px 5px; border-image: none; color: rgb(0, 89, 160); margin-top: -12px; margin-bottom: -12px; box-shadow: 0px 1px 4px rgba(0,0,0,0.25); -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25); -moz-border-radius: 5px 0 0 5px; -webkit-border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px;
}
.no-touch .side-tabs > .tabs > li.active > a:hover {
	padding-right: 9px; border-right-color: currentColor; border-right-width: 0px; border-right-style: none;
}
.on-right.side-tabs {
	padding-right: 179px; padding-left: 0px;
}
.on-right.side-tabs > .tabs {
	margin: -5px -5px -5px 0px; padding: 5px 5px 5px 0px; left: auto; right: 0px;
}
.on-right.side-tabs > .tabs > li {
	padding: 11px 11px 11px 9px;
}
.on-right.side-tabs > .tabs > li > a {
	margin: -11px -11px -11px -9px; padding: 11px 11px 11px 9px;
}
.no-touch .on-right.side-tabs > .tabs > li > a:hover {
	padding-right: 11px; padding-left: 6px; border-right-color: currentColor; border-left-color: rgb(153, 153, 153); border-right-width: 0px; border-left-width: 3px; border-right-style: none; border-left-style: solid;
}
.no-touch .on-right.side-tabs > .tabs > li.disabled > a:hover {
	padding-right: 11px; padding-left: 9px; border-left-color: currentColor; border-left-width: 0px; border-left-style: none;
}
.on-right.side-tabs > .tabs > li.active > a {
	padding: 11px 11px 10px 9px; border-radius: 0px 5px 5px 0px; margin-top: -12px; margin-bottom: -12px; border-right-color: rgb(204, 204, 204); border-left-color: currentColor; border-right-width: 1px; border-left-width: 0px; border-right-style: solid; border-left-style: none; -moz-border-radius: 0 5px 5px 0; -webkit-border-top-left-radius: 0; -webkit-border-top-right-radius: 5px; -webkit-border-bottom-left-radius: 0; -webkit-border-bottom-right-radius: 5px;
}
.no-touch .on-right.side-tabs > .tabs > li.active > a:hover {
	padding-right: 11px; padding-left: 9px; border-right-color: rgb(204, 204, 204); border-left-color: currentColor; border-right-width: 1px; border-left-width: 0px; border-right-style: solid; border-left-style: none;
}
.on-right.side-tabs > .tabs-content {
	border-radius: 6px 0px 6px 6px; -moz-border-radius: 6px 0 6px 6px; -webkit-border-top-left-radius: 6px; -webkit-border-top-right-radius: 0;
}
.on-right.tabs-fullheight > .tabs-content {
	border-bottom-right-radius: 0px; border-bottom-left-radius: 6px; -webkit-border-bottom-left-radius: 6px; -webkit-border-bottom-right-radius: 0; -moz-border-radius-bottomleft: 6px; -moz-border-radius-bottomright: 0;
}
.standard-tabs > .tabs-content {
	border-radius: 0px 6px 6px; border: 1px solid rgb(204, 204, 204); border-image: none; left: auto; width: auto; right: auto; overflow: visible; position: static; box-shadow: 0px 1px 4px rgba(0,0,0,0.25); -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25); -webkit-border-radius: 6px; -moz-border-radius: 0 6px 6px 6px; -webkit-border-top-left-radius: 0;
}
.side-tabs > .tabs-content {
	border-radius: 0px 6px 6px; border: 1px solid rgb(204, 204, 204); border-image: none; left: auto; width: auto; right: auto; overflow: visible; position: static; box-shadow: 0px 1px 4px rgba(0,0,0,0.25); -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25); -webkit-border-radius: 6px; -moz-border-radius: 0 6px 6px 6px; -webkit-border-top-left-radius: 0;
}
.tabs-fullheight > .tabs-content {
	border-bottom-left-radius: 0px; -webkit-border-bottom-left-radius: 0; -moz-border-radius-bottomleft: 0;
}
.csstransforms .standard-tabs > .tabs-content {
	transform: none; -webkit-transform: none; -moz-transform: none; -o-transform: none;
}
.csstransforms .side-tabs > .tabs-content {
	transform: none; -webkit-transform: none; -moz-transform: none; -o-transform: none;
}
.standard-tabs > .tabs-content {
	min-height: auto !important;
}
.standard-tabs > .tabs-content > .tabs-back {
	display: none;
}
.side-tabs > .tabs-content > .tabs-back {
	display: none;
}
.tabs-animated.standard-tabs {
	transition:none; -webkit-transition: none; -moz-transition: none; -o-transition: none;
}
.tabs-animated.standard-tabs > .tabs {
	transition:none; -webkit-transition: none; -moz-transition: none; -o-transition: none;
}
.tabs-animated.standard-tabs > .tabs-content {
	transition:none; -webkit-transition: none; -moz-transition: none; -o-transition: none;
}
.tabs-animated.side-tabs {
	transition:none; -webkit-transition: none; -moz-transition: none; -o-transition: none;
}
.tabs-animated.side-tabs > .tabs {
	transition:none; -webkit-transition: none; -moz-transition: none; -o-transition: none;
}
.tabs-animated.side-tabs > .tabs-content {
	transition:none; -webkit-transition: none; -moz-transition: none; -o-transition: none;
}
.with-padding > .inner-tabs.standard-tabs {
	margin: 0px;
}
.with-padding > .inner-tabs.side-tabs {
	margin: 0px;
}
#top-notifications > ul {
	width: 300px; position: absolute;
}
#bottom-notifications > ul {
	width: 300px; position: absolute;
}
#notifications-top-left {
	left: 0px; top: 0px;
}
#notifications-top-center {
	left: 50%; top: 0px; margin-left: -150px !important;
}
#notifications-top-right {
	top: 0px; right: 0px;
}
#notifications-bottom-left {
	left: 0px; bottom: 0px;
}
#notifications-bottom-center {
	left: 50%; bottom: 0px; margin-left: -150px !important;
}
#notifications-bottom-right {
	right: 0px; bottom: 0px;
}
.notification {
	margin: 20px 20px -10px;
}
#bottom-notifications .notification {
	margin: -10px 20px 20px;
}
.notification > .close {
	margin: -10px -10px 0px 0px;
}
.notification > a {
	padding: 11px 15px;
}
.notification > div {
	padding: 11px 15px;
}
.notification-icon {
	margin: 11px 11px 11px 13px;
}
.outside.notification-icon {
	margin: 6px 12px 0px 0px; top: 0px; right: 100%; float: none; position: absolute;
}
#notifications-top-left .outside.notification-icon {
	margin: 6px 0px 0px 12px; left: 100%; right: auto;
}
#notifications-bottom-left .outside.notification-icon {
	margin: 6px 0px 0px 12px; left: 100%; right: auto;
}
.notification > .block-arrow {
	top: 29px; display: block;
}
